[Desktop Entry]
Type=Application
Name=iaito
Exec=iaito
Icon=org.radare.iaito

Categories=Qt;Development;Debugger;Viewer;ComputerScience;DataVisualization;Emulator;FileTools;Security;
GenericName=GUI to Radare2 reverse engineering platform
Comment=It can serve as disassembler, debugger, hex viewer / editor and decompiler to several binary architectures and file formats
Keywords=radare2;radare;r2;iaito;gdb;disassembler;debugger;c;c++;assembler;decompiler;binary;asm;arm;exe;viewer;

StartupNotify=true
StartupWMClass=iaito
